<!DOCTYPE html> 
  
<html> 
<head> 
    <title>For loop in Flask</title> 
</head> 
<body> 
<form action ="http://localhost:5000/search" method = "post">
    <fieldset style = "width: 150">
            <p>Enter Keyword:</p>
            <p><input type ="text" name = "keyWord"/></p>
            <p>
                <input type ="submit" name = "action" value = "Sync" />
                <input type="submit" name = "action" value="Async"/>
                <input type="submit" name = "action" value="Benchmark_test"/>
            </p>
    </fieldset>
</form>
  
</body> 
</html> 